/*
███╗░░██╗██╗░█████╗░██╗░░██╗░░░░░░██╗░░░██╗██╗███╗░░██╗███████╗░██████╗███╗░░░███╗░█████╗░██╗░░██╗███████╗
████╗░██║██║██╔══██╗██║░██╔╝░░░░░░██║░░░██║██║████╗░██║██╔════╝██╔════╝████╗░████║██╔══██╗██║░██╔╝██╔════╝
██╔██╗██║██║██║░░╚═╝█████═╝░█████╗╚██╗░██╔╝██║██╔██╗██║█████╗░░╚█████╗░██╔████╔██║██║░░██║█████═╝░█████╗░░
██║╚████║██║██║░░██╗██╔═██╗░╚════╝░╚████╔╝░██║██║╚████║██╔══╝░░░╚═══██╗██║╚██╔╝██║██║░░██║██╔═██╗░██╔══╝░░
██║░╚███║██║╚█████╔╝██║░╚██╗░░░░░░░░╚██╔╝░░██║██║░╚███║███████╗██████╔╝██║░╚═╝░██║╚█████╔╝██║░╚██╗███████╗
╚═╝░░╚══╝╚═╝░╚════╝░╚═╝░░╚═╝░░░░░░░░░╚═╝░░░╚═╝╚═╝░░╚══╝╚══════╝╚═════╝░╚═╝░░░░░╚═╝░╚════╝░╚═╝░░╚═╝╚══════╝ 


██████╗░░█████╗░██╗░░░░░██╗░░░░░  ░██████╗░░█████╗░███╗░░░███╗███████╗
██╔══██╗██╔══██╗██║░░░░░██║░░░░░  ██╔════╝░██╔══██╗████╗░████║██╔════╝
██████╦╝███████║██║░░░░░██║░░░░░  ██║░░██╗░███████║██╔████╔██║█████╗░░
██╔══██╗██╔══██║██║░░░░░██║░░░░░  ██║░░╚██╗██╔══██║██║╚██╔╝██║██╔══╝░░
██████╦╝██║░░██║███████╗███████╗  ╚██████╔╝██║░░██║██║░╚═╝░██║███████╗
╚═════╝░╚═╝░░╚═╝╚══════╝╚══════╝  ░╚═════╝░╚═╝░░╚═╝╚═╝░░░░░╚═╝╚══════╝
*/

#starter-screen {
  background-color: #282828;
  color: #fff;
  text-align: center;
  padding: 100px;
}

#game-container {
  width: 600px;
  height: 400px;
  background-color: #282828;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

#platform {
  width: 100px;
  height: 10px;
  background-color: #fff;
  position: absolute;
  bottom: 10px;
  left: 250px;
}

#ball {
  width: 20px;
  height: 20px;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 380px;
  left: 290px;
  transform: translate(-50%, -50%);
}

.square {
  width: 10px;
  height: 10px;
  background-color: #fff;
  position: absolute;
}

#building {
  width: 560px;
  height: 280px;
  position: absolute;
  top: 20px;
  left: 20px;
}

